// Colours
$grey: #333;

// Navigation colours
$nav-bg: $grey;
$nav-text-colour: #fff;

// Fonts
$logo-font: 'Major Mono Display', Helvetica, Arial, Verdana, sans-serif;
$sans-serif: "Source Sans Pro", Helvetica, Verdana, sans-serif;
$serif: Merriweather, Georgia, "Times New Roman", serif;
$mono: "Source Code Pro", Courier, mono;

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

$text-colour: #111;