.card {
  display: flex;
  background-size: auto;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  perspective: 2500px;
  border-radius: $card-radius-medium;

  &__flipper {
    flex: 1;
    transform-style: preserve-3d;
    transition: transform .2s ease, border-radius .2s ease .2s, border-color 0.3s ease;
    transform: rotateY(180deg);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
    will-change: transform, border-radius, border-color;
    border-radius: $card-radius-medium;

    &:after {
      content: '';
      position: absolute;
      top: $card-radius-medium;
      bottom: $card-radius-medium;
      left: $card-radius-medium;
      right: $card-radius-medium;
      z-index: 2;
      border-radius: $card-radius-small;
      border: 3px solid transparent;
      transition: border-color 0.3s ease;

      @include media("<=tablet") {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: $card-radius-medium;
      }
    }
  }

  &__front, &__back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: $card-radius-medium;
    display: flex;
    justify-content: center;
    flex-direction: column;
    backface-visibility: hidden;
  }

  &__front {
    align-items: center;
    background: #fff;
    text-align: center;
    z-index: 2;
    transform: rotateY(0deg);

    img {
      width: 60%;
      height: 60%;
    }
  }

  &__back {
    background-image: url('/media/backgrounds/memphis-colorful.png');
    transform: rotateY(180deg);
  }

  &--selected {

    .card__flipper {
      transform: rotateY(0deg);
    }
  }

  &--win {
    .card__flipper {
      transform: rotateY(0deg);
      background-size: 400% 400%;

      &:after {
        border-color: #76e076;
      }
    }
  }

  &--not-match {
    .card__flipper {
      transform: rotateY(0deg);

      &:after {
        border-color: crimson;
      }
    }
  }

  &--spin {
    .card__flipper {
      -webkit-animation: cardSpin 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      -moz-animation: cardSpin 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      animation: cardSpin 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
  }
}
