.card {
  display: flex;
  background-size: auto;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  perspective: 2500px;
  border-radius: $card-radius-medium;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;

  @include media("<=tablet") {
    border-radius: .4rem;
  }

  &__flipper {
    flex: 1;
    transform-style: preserve-3d;
    transition: transform .2s ease, border-radius .2s ease .2s, border-color 0.3s ease, box-shadow 0.3s ease;
    transform: rotateY(180deg);
    box-shadow: 0 0.5rem #c3d5d6;
    will-change: transform, border-radius, border-color, box-shadow;
    border-radius: $card-radius-medium;
    margin-bottom: .5rem;

    @include media("<=tablet") {
      box-shadow: 0 0.4rem #c3d5d6;
      margin-bottom: .4rem;
      border-radius: .4rem;
    }
  }

  &__front, &__back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    // backface-visibility: hidden;
    // -webkit-backface-visibility: hidden;
  }

  &__front {
    align-items: center;
    background: #fff;
    text-align: center;
    z-index: 2;
    transform: rotateY(0deg);

    img {
      width: 60%;
      height: 60%;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 2;
      border-radius: 0.5rem;
      border: 4px solid transparent;
      transition: border-color 0.3s ease;
    }
  }

  &__back {
    background-image: url('/media/backgrounds/memphis-colorful.png');
    background-size: 150%;
    transform: rotateY(180deg);
  }

  &--selected {

    .card__flipper {
      transform: rotateY(0deg);
    }
  }

  &--win {
    .card__flipper {
      transform: rotateY(0deg);
      background-size: 400% 400%;
      box-shadow: 0 0.5rem #76e076;

      @include media("<=tablet") {
        box-shadow: 0 0.4rem #76e076;
      }
    }
  }

  &--not-match {
    .card__flipper {
      transform: rotateY(0deg);
      box-shadow: 0 0.5rem crimson;

      @include media("<=tablet") {
        box-shadow: 0 0.4rem crimson;
      }
    }
  }

  &--spin {
    .card__flipper {
      -webkit-animation: jello-horizontal 0.7s both;
      -moz-animation: jello-horizontal 0.7s both;
      animation: jello-horizontal 0.7s both;
    }
  }
}

